<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>relatorios</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Relatorio</display-name>
    <servlet-name>Relatorio</servlet-name>
    <servlet-class>modelo.servlets.Relatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Relatorio</servlet-name>
    <url-pattern>/relatorios/jsp/Relatorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioExcel</display-name>
    <servlet-name>RelatorioExcel</servlet-name>
    <servlet-class>modelo.servlets.RelatorioExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioExcel</servlet-name>
    <url-pattern>/relatorios/jsp/RelatorioExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioHTML</display-name>
    <servlet-name>RelatorioHTML</servlet-name>
    <servlet-class>modelo.servlets.RelatorioHTML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioHTML</servlet-name>
    <url-pattern>/relatorios/jsp/RelatorioHTML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelVisAco</display-name>
    <servlet-name>RelVisAco</servlet-name>
    <servlet-class>modelo.servlets.RelVisAco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelVisAco</servlet-name>
    <url-pattern>/relatorios/jsp/RelVisAco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelVisAcoExcel</display-name>
    <servlet-name>RelVisAcoExcel</servlet-name>
    <servlet-class>modelo.servlets.RelVisAcoExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelVisAcoExcel</servlet-name>
    <url-pattern>/relatorios/jsp/RelVisAcoExcel</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Materiais</display-name>
    <servlet-name>Materiais</servlet-name>
    <servlet-class>modelo.servlets.Materiais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Materiais</servlet-name>
    <url-pattern>/relatorios/jsp/Materiais</url-pattern>
  </servlet-mapping>
</web-app>